/* contenitore delle barre di avanzamento */
#gara {
    /* stacchiamo le barre di avanzamento dalle descrizioni */
    margin-top: 30px;
}
/* nome all'interno della barra di avanzamento */
#gara .nome {
    /* la larghezza del div dipenderà dal suo contenuto,
    permettendo ad altri contenuti di essere posizionati alla sua destra */
    display: inline-block;
}
/* metri all'interno della barra di avanzamento */
#gara .metri {
    /* posizioniamo il div sulla destra permettendo ad altri contenuti di
    essere posizionati alla sua sinistra */
    float: right;
}
/* tutti i div delle barre */
#gara > div {
    /* sfondo di default */
    background: blue;
    margin: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    /* spazio interno tra il bordo e i contenuti */
    padding: 5px;
    /* larghezza di default */
    width: 20%;
    /* larghezza minima consentita */
    min-width: 130px;
}
body {
    /* spazio di tutti i contenuti dai bordi della pagina */
    padding: 20px;
}
/* contenitore del pulsante start */
#start {
    /* stacchiamo il pulsante dalle barre di avanzamento */
    margin-top: 30px;
}
